.Sidebar {
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    position: relative;
    width: var(--sidebar-width);
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lng {
    margin-left: 20px;
}



.items {
    margin: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
}



.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lng {
        margin-left: 0;
    }
}