.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
    width: 30px;
    height: 30px;
}

.link {
    margin-top: 10px;
    opacity: 1;
}

.collapsed {
    .link {
        opacity: 0;
        transition: opacity 0.2s;
        width: 0;
    }
}