.app.dark {
    --bg-color: #003538;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #0c640c;
    --secondary-color: #1f1;
    --inverted-primary-color: #0e0e5d;
    --inverted-secondary-color: #3b3bff;
}