.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #003538;
    --primary-color:  #3b3bff;
    --secondary-color: #0e0e5d;
    --inverted-primary-color: #1f1;
    --inverted-secondary-color: #0c640c;
}